.App {
  
  padding-left: 5rem;
  }

.table {
    margin: auto;
    width: 50% !important; 
 }

/* Global */
.vheight-100 {
  min-height: 100vh;
}


.below-nav {
  padding-top: 5rem;
}




.App-link {
  color: #00a108;
}


