.App {
  
  padding-left: 5rem;
  }

.table {
    margin: auto;
    width: 75% !important; 
 }

/* Global */
.vheight-100 {
  min-height: 100vh;
}


.below-nav {
  padding-top: 5rem;
}

.form-label
{
  font-weight: bold;
}

.App-link {
  color: #00a108;
}


#questionRow{
  background-color: #a2a3b00d;
margin-top: 10px;
margin-bottom: 10px;
border-radius: 20px;
border-color: #e3e3e2e0;
border-style: solid;
border-width: 1px;

}

#bottoni{
  margin-top: 10px;
margin-left: 10px;
}