.App {
  
  padding-left: 5rem;
  }

.table {
    margin: auto;
    width: 75% !important; 
 }

/* Global */
.vheight-100 {
  min-height: 100vh;
}


.below-nav {
  padding-top: 5rem;
}

.form-label
{
  font-weight: bold;
}

.App-link {
  color: #00a108;
}


